# Ignorar los archivos de compilación de Scala
target/
database-scala/target/
database-scala/project/

# Ignorar los archivos de configuración del IDE
.idea/
*.iml
*.ipr
*.iws

# Ignorar los archivos de registro
*.log

# Ignorar los archivos del sistema
.DS_Store
